<div class="search">
  <mat-form-field class="example-form-field" appearance="outline">
    <button
      matPreffix
      mat-icon-button
      aria-label="Search"
      (click)="onSearch(searchTerm)">
      <mat-icon class="searchIcon">search</mat-icon>
    </button>
    <input matInput type="text" [(ngModel)]="searchTerm" />
    <button
      *ngIf="searchTerm"
      matSuffix
      mat-icon-button
      aria-label="Close"
      (click)="clear()">
      <mat-icon class="searchIcon">close</mat-icon>
    </button>
  </mat-form-field>
</div>
